.person {
  /* height: 80px; */
  /* padding: 8px 8px; */
  padding: 12px;
  /* border: 1px solid var(--tier-one-color-transparent); */
  border-radius: 8px;
  background-color: var(--main-color);
  /* box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1); */

  /* font-weight: 350; */

  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.birthday-today {
  background-color: var(--accent-color-today);
}

.birthday-soon {
  background-color: var(--accent-color-soon);
}

.person-birthday {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  padding-right: 8px;
  border-right: 1px solid var(--divider-color);
  /* border-right: 1px solid red; */

  /* color: var(--accent-color); */
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person-birthday-day {
  font-size: 20px;
}

.person-birthday-month {
  font-size: 14px;
}

.person-title {
  margin-bottom: 4px;

  color: var(--accent-color);
  font-size: 20px;
  line-height: 20px;

  flex-grow: 1;
}

.person-tier {
  width: 42px;
  height: 42px;
  box-sizing: border-box;

  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 21px;
  text-align: center;
  /* background-color: ; */
  font-weight: 300;

  display: flex;
  justify-content: center;
  align-items: center;
}
