:root {
  --horizontal-gap: 12px;
  --vertical-gap: 12px;

  --icon-size: 18px;

  --main-color: #ffffff;
  --bg-color: #f6f6f6;
  /* --bg-color: #f2faf7; */
  --navbar-color: #eaeaea;
  /* --divider-color: #d7d7d7; */
  --divider-color: rgba(0, 0, 0, 0.1);

  /* --accent-color: #32a675; */
  --accent-color: #e64560;  /* HSV 350 70 90 */
  /* --accent-color-today: rgb(230, 69, 96, 0.2); */
  --accent-color-today: hsl(350, 76%, 88%);
  /* --accent-color-soon: rgb(230, 69, 96, 0.1); */
  --accent-color-soon: hsl(350, 76%, 94%);
  --text-color: #555555;
  --icon-color: #444444;

  --subtitle-color: #555555;
}

@media only screen and (min-width: 600px) {
  :root{
    --horizontal-gap: 64px;
  }
}

@media only screen and (min-width: 992px) {
  :root{
    --horizontal-gap: 128px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: var(--text-color);
  /* font-weight: 350; */
}

i {
  color: var(--icon-color);
}
